<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260525-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>มจธ.เป็นเจ้าภาพ CIOD 2026...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          มจธ. เป็นเจ้าภาพ CIOD 2026 ยกระดับอุตสาหกรรมด้วยแนวคิด Industrial 5.0 พร้อมทัพบทความวิจัยเกือบ 100 หัวข้อ
        </h2>
        <p class="tag">#กิจกรรม</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 25 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/25_05(1).jpg" alt="20260525-1" />
      </span>
      <div class="content-text">
        <p>
          ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ มจธ. เป็นเจ้าภาพจัดการประชุมวิชาการด้านการพัฒนาการดำเนินงานทางอุตสาหกรรมแห่งชาติ ครั้งที่ 17 (CIOD 2026) เมื่อวันเสาร์ที่ 23 พฤษภาคม 2569 ณ อาคารการเรียนรู้พหุวิทยาการ 
        </p>
        <br />
        <p>การประชุมในปีนี้จัดขึ้นภายใต้แนวคิดหลัก "Industrial 5.0 and Sustainable Operations: Empowering People and Technology" เพื่อตอบรับการเปลี่ยนแปลงของโลกอุตสาหกรรมที่ไม่ได้มุ่งเน้นเพียงประสิทธิภาพเครื่องจักร แต่ยังให้ความสำคัญกับการทำงานร่วมกันระหว่างมนุษย์และเทคโนโลยีอย่างยั่งยืน โดยมีบทความวิชาการที่ผ่านการคัดเลือกและนำเสนอผลงานรวมทั้งสิ้น 96 บทความ </p>
        <br />
        <p>ภายในพิธีเปิดงาน</p>
        <ul>
          <li>• ดร.สมพร เพียรสุขมณี หัวหน้าภาควิชาวิศวกรรมอุตสาหการ มจธ. ในฐานะประธานคณะกรรมการจัดงาน เป็นผู้กล่าวรายงานวัตถุประสงค์การจัดงาน </li>
          <li>• ศ. ดร.เชาวลิต ลิ้มมณีวิจิตร รองอธิการบดีฝ่ายพัฒนานักศึกษาและผู้เรียนรู้ มจธ. ให้เกียรติเป็นประธานกล่าวเปิดงานอย่างเป็นทางการ </li>
          <li>• การบรรยายพิเศษ โดย รศ. ดร.สุภชัย วงศ์บุณย์ยง ผู้อำนวยการสถาบันวิทยาการหุ่นยนต์ภาคสนาม (FIBO) บรรยายในหัวข้อที่สอดคล้องกับธีมงาน </li>
        </ul>
        <br />
        <p>ภายในงานยังมีการมอบรางวัล Best Paper Awards จำนวน 4 รางวัล เพื่อเชิดชูเกียรติแก่นักวิจัยที่มีผลงานโดดเด่นและสร้างประโยชน์ต่อวงการวิชาการ เรื่อง</p>
        <ul>
            <li>• การพัฒนาอุปกรณ์ต้นแบบเพื่อปรับปรุงวิธีการทำงานของพนักงานในกระบวนการประกอบชิ้นส่วนยานยนต์ - มหาวิทยาลัยบูรพา</li>
            <li>• การจัดตารางการผลิตแบบหลายวัตถุประสงค์บนเครื่องจักรขนานแบบรุ่นที่ไม่สัมพันธ์กันของอุตสาหกรรมเครื่องสำอาง - มหาวิทยาลัยธรรมศาสตร์</li>
            <li>• การเพิ่มประสิทธิภาพโซ่อุปทานนมโรงเรียนในจังหวัดอุบลราชธานีโดยประยุกต์ใช้แผนผังสายธารคุณค่า - มหาวิทยาลัยราชภัฏอุบลราชธานี</li>
            <li>• การประยุกต์ใช้ระบบตรวจสอบด้วยภาพร่วมกับหุ่นยนต์ร่วมปฏิบัติงานเพื่อลดความเสี่ยงด้านการยศาสตร์: กรณีศึกษากระบวนการประกอบยานยนต์ - มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</li>
        </ul>
      </div>
      <div class="container-pic">
        <% for(let i=1; i<=27; i++) { %>
        <div class="grid-item">
          <img
            src="/images/news/2569/May/25_05(<%= i %>).jpg"
            onclick="openModal(); currentSlide(<%= i %>)"
            alt="Image <%= i %>"
          />
        </div>
        <% } %>
      </div>

      <div id="myModal" class="modal" onclick="closeModalOnBackdrop(event)">
        <div class="modal-controls">
          <span class="zoom-icon" onclick="toggleZoom()" title="ซูมรูปภาพ">
          </span>
          <span class="reset-icon" onclick="resetZoom()" title="รีเซ็ตการซูม">
            <i class="fa-solid fa-rotate-right"></i>
          </span>
          <span class="close" onclick="closeModal()" title="ปิด">&times;</span>
        </div>

        <div class="modal-content-wrapper">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

          <div class="main-img-container">
            <img id="mainImg" src="" class="modal-main-image" />
          </div>

          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="thumbnail-bar">
          <% for(let i=1; i<=27; i++) { %>
          <img
            class="demo"
            src="/images/news/2569/May/25_05(<%= i %>).jpg"
            onclick="currentSlide(<%= i %>)"
            alt="Thumb <%= i %>"
          />
          <% } %>
        </div>
        <script src="/js/assets/news-grid.js"></script>
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
