<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260319-2'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span> สร้างวิศวกรนักธุรกิจ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          สร้างวิศวกรนักธุรกิจ... จากรากฐานวิศวกรรมที่แข็งแกร่ง
        </h2>
        <p class="tag">#รับสมัคร #PRE #MCE #ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 19 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/19_03_02.jpg" alt="20260319" />
      </span>
      <div class="content-text">
        <p>
          เราไม่ได้เริ่มจากศูนย์ เพราะ ISEE ถูกสร้างบนฐานรากที่ทรงพลังของ
          ภาควิชาวิศวกรรมอุตสาหการ (Production Engineering)
          ที่มีประวัติศาสตร์ยาวนานและทรัพยากรพร้อมที่สุด!
        </p>
        <h5>Production Engineering (PE)</h5>
        <h5>พลังแห่งการผลิตและจัดการระบบ</h5>
        <p>
          ต้นตำรับการบริหารโรงงานและระบบการผลิตที่แม่นยำ นักศึกษา ISEE
          จะได้เรียนรู้ทักษะการ "Run the System" ให้มีประสิทธิภาพสูงสุด
          ลดความสูญเสีย เพิ่มผลกำไร ด้วยความเชี่ยวชาญจากภาควิชาอุตสาหการโดยตรง
        </p>
        <h5>Mechatronics Engineering (MCE)</h5>
        <h5>พลังแห่งการออกแบบอนาคต</h5>
        <p>
          หัวใจสำคัญของอุตสาหกรรม 4.0 คือการ "Build the Machine" ที่ชาญฉลาด
          เรามีทรัพยากรและผู้เชี่ยวชาญด้านหุ่นยนต์ ระบบ Automation
          และการออกแบบเครื่องจักรสมัยใหม่
        </p>
        <h5>ISEE: The Entrepreneurial Edge</h5>
        <h5>เราจะหล่อหลอมให้เป็น "วิศวกรนักธุรกิจ"</h5>
        <p>
          ISEE ให้คุณได้ใช้ทรัพยากรจริง ห้อง Lab จริง
          และความเชี่ยวชาญจริงจากภาควิชาวิศวกรรมอุตสาหการ
          เพื่อก้าวสู่การเป็นผู้ประกอบการเทคโนโลยีตัวจริง!
        </p>
        <br />
        <h5>[เปิดรับสมัครแล้ววันนี้!]</h5>
        <a href="https://join.kmutt.ac.th/degree" target="_blank"
          >https://join.kmutt.ac.th/degree</a
        >
      </div>
      <div class="container-pic">
        <% for(let i=1; i<=4; i++) { %>
        <div class="grid-item">
          <img
            src="/images/news/2569/Apr/25_04(<%= i %>).jpg"
            onclick="openModal(); currentSlide(<%= i %>)"
            alt="Image <%= i %>"
          />
        </div>
        <% } %>
      </div>

      <div id="myModal" class="modal" onclick="closeModalOnBackdrop(event)">
        <div class="modal-controls">
          <span class="zoom-icon" onclick="toggleZoom()" title="ซูมรูปภาพ">
          </span>
          <span class="reset-icon" onclick="resetZoom()" title="รีเซ็ตการซูม">
            <i class="fa-solid fa-rotate-right"></i>
          </span>
          <span class="close" onclick="closeModal()" title="ปิด">&times;</span>
        </div>

        <div class="modal-content-wrapper">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

          <div class="main-img-container">
            <img id="mainImg" src="" class="modal-main-image" />
          </div>

          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="thumbnail-bar">
          <% for(let i=1; i<=4; i++) { %>
          <img
            class="demo"
            src="/images/news/2569/Apr/25_04(<%= i %>).jpg"
            onclick="currentSlide(<%= i %>)"
            alt="Thumb <%= i %>"
          />
          <% } %>
        </div>
        <script src="/js/assets/news-grid.js"></script>
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
