<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20260102-1'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <%- include('../../../partials/Responsive') %>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span> ประชาสัมพันธ์ข้อมูล สำหรับ นศ....</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ประชาสัมพันธ์ข้อมูล สำหรับ นศ. ป.ตรี รหัส 68
          ที่ไม่ผ่านเกณฑ์รายวิชาโมดูลพื้นฐานคณิตศาสตร์
        </h2>
        <p class="tag">#ข่าวสาร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 02 ม.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/02_01_(1).jpg" alt="20260102" />
      </div>
      <div class="content-text">
        <h5>
          🗒️ประชาสัมพันธ์ข้อมูล สำหรับ นศ. ป.ตรี รหัส 68
          ที่ไม่ผ่านเกณฑ์รายวิชาโมดูลพื้นฐานคณิตศาสตร์
        </h5>
        <h5>
          ⚠️โปรดศึกษาข้อมูลเงื่อนไขของการลงทะเบียนเรียนรายวิชา
          เพื่อประกอบการวางแผนการเรียนและลงทะเบียน
        </h5>
        <h5>🍊สามารถสอบถามข้อมูลเพิ่มเติมผ่าน Line Open Chat</h5>
      </div>
      <div class="container-pic">
        <% for(let i=1; i<=3; i++) { %>
        <div class="grid-item">
          <img
            src="/images/news/2569/Jan/02_01_(<%= i %>).jpg"
            onclick="openModal(); currentSlide(<%= i %>)"
            alt="Image <%= i %>"
          />
        </div>
        <% } %>
      </div>

      <div id="myModal" class="modal" onclick="closeModalOnBackdrop(event)">
        <div class="modal-controls">
          <span class="zoom-icon" onclick="toggleZoom()" title="ซูมรูปภาพ">
          </span>
          <span class="reset-icon" onclick="resetZoom()" title="รีเซ็ตการซูม">
            <i class="fa-solid fa-rotate-right"></i>
          </span>
          <span class="close" onclick="closeModal()" title="ปิด">&times;</span>
        </div>

        <div class="modal-content-wrapper">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

          <div class="main-img-container">
            <img id="mainImg" src="" class="modal-main-image" />
          </div>

          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="thumbnail-bar">
          <% for(let i=1; i<=3; i++) { %>
          <img
            class="demo"
            src="/images/news/2569/Jan/02_01_(<%= i %>).jpg"
            onclick="currentSlide(<%= i %>)"
            alt="Thumb <%= i %>"
          />
          <% } %>
        </div>
      </div>
      <script src="/js/assets/news-grid.js"></script>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
