<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260514-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ความสำเร็จอันน่าภาค...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          🎊 Congratulations! ความสำเร็จอันน่าภาคภูมิใจในงาน Project Day 2569 🎊
        </h2>
        <p class="tag">#กิจกรรม #รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 14 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/14_05(1).jpg" alt="20260514-1" />
      </span>
      <div class="content-text">
        <p>
          ขอแสดงความยินดีกับนักศึกษาจาก สาขาวิชาวิศวกรรมอุตสาหการ (PE) และ สาขาวิชาวิศวกรรมเมคคาทรอนิกส์ (MCE) ที่ร่วมกันโชว์ศักยภาพการสร้างสรรค์นวัตกรรมและแก้ไขปัญหาอุตสาหกรรมได้อย่างยอดเยี่ยม จนสามารถคว้ารางวัลจากงานนำเสนอโครงงานในปีนี้มาครอง!
        </p>
        <br />
        <hr>
        <h5>
          Cluster กลศาสตร์ วัสดุ และกระบวนการผลิต
        </h5>
        <br />
        <h5>
          🥇 รางวัลชนะเลิศ 
        </h5>
        <p>⚙️ MCE09: Design and Development of the Robot for Installation/Uninstallation and Verification of Acoustic Emission Sensors on Vertical Structures </p>
        <p>👤 โดย: น.ส.กรณ์ทิตา ขุนพรหม, น.ส.ณัฏฐวดี ทรัพย์ไพบูลย์, นายดิชพงศ์ มุสิกะ, นายปัณณทัต บุพตา (วิศวกรรมเมคคาทรอนิกส์)</p>
        <br />
        <h5>
          🥈 รางวัลรองชนะเลิศอันดับ 1
        </h5>
        <p>📈 PRE13: Locating the Shipyard and Shipbuilding Area using Spatial Estimation in Thailand</p>
        <p>👤 โดย: นายอภิวิชญ์ เล็งวิลาส, นายชัยถาวร ทองพ่วง, นายระพีพัฒน์ สิทธิวรวัฒน์ (วิศวกรรมอุตสาหการ)</p>
        <br />
        <h5>
          🥉 รางวัลรองชนะเลิศอันดับ 2
        </h5>
        <p>🔬 PRE06: Investigation of Silicon Separation Using Tin in Recycled Al-Si Alloys </p>
        <p>👤 โดย: นายพีรพัฒน์ ฉัตรแก้ว, นายปฐมบุศ ลือแสน, นายประยูรศักดิ์ ญาณเศรษฐพัฒน์, นายธนธัส ฉ.โรจน์ประเสริฐ (วิศวกรรมอุตสาหการ)</p>
        <br />
        <hr>
        <h5>
          ✨ รางวัลพิเศษจากภาคอุตสาหกรรม & Popular Vote
        </h5>
        <br />
        <h5>
            🎖️ รางวัล TMT Steel Award (โดย บริษัท ทีเอ็มที สตีล จำกัด(มหาชน)) 
        </h5>
        <p>🏗️ MCE08: Design and Development of an Online Inspection System for Crane Operations Using Magnetic Field Measurement </p>
        <p>👤 โดย: นายชิษณุชา แซ่เตียว, นายวิษณุ อภัยนอก, นายศุภกิตติ์ สุรศัพท์ (วิศวกรรมเมคคาทรอนิกส์)</p>
        <br />
        <h5>
            🗳️ รางวัล Popular Vote 
        </h5>
        <p>🌟 PRE25: Development and Optimization of Manufacturing Processes to Improve Productivity </p>
        <p>👤 โดย: น.ส.กองทอง เชื่อมทอง, น.ส.ศุภิสรา พูลศิริ, นายสรชัช อรรถสุขวัฒนา, น.ส.ณัฏฐณิชา เธียรเจริญ (วิศวกรรมอุตสาหการ)</p>
        <br />
        <p>🌟 PRE02: Efficiency Improvement in a Make-to-Order Production System: A Case Study of Bulk Material Handling </p>
        <p>👤 โดย: น.ส.ลลิดา โมกขรัตน์, นายภัทรวุฒิ อาจอนงค์, นายสัญชัย เพ่งพินิจ (วิศวกรรมอุตสาหการ)</p>
        <br />
        <p>
          ขอขอบคุณคณะกรรมการผู้ทรงคุณวุฒิ และขอขอบพระคุณ บริษัท ทีเอ็มที สตีล จำกัด (มหาชน) สำหรับการสนับสนุนทุนการศึกษาและร่วมส่งเสริมนวัตกรรมฝีมือนักศึกษาในครั้งนี้</p>
          <br />
          <p>พวกเราภูมิใจในความสำเร็จของนักศึกษาทุกคนครับ! 👏⚙️📈</p>
      </div>
      <div class="container-pic">
        <% for(let i=1; i<=6; i++) { %>
        <div class="grid-item">
          <img
            src="/images/news/2569/May/14_05(<%= i %>).jpg"
            onclick="openModal(); currentSlide(<%= i %>)"
            alt="Image <%= i %>"
          />
        </div>
        <% } %>
      </div>

      <div id="myModal" class="modal" onclick="closeModalOnBackdrop(event)">
        <div class="modal-controls">
          <span class="zoom-icon" onclick="toggleZoom()" title="ซูมรูปภาพ">
          </span>
          <span class="reset-icon" onclick="resetZoom()" title="รีเซ็ตการซูม">
            <i class="fa-solid fa-rotate-right"></i>
          </span>
          <span class="close" onclick="closeModal()" title="ปิด">&times;</span>
        </div>

        <div class="modal-content-wrapper">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

          <div class="main-img-container">
            <img id="mainImg" src="" class="modal-main-image" />
          </div>

          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="thumbnail-bar">
          <% for(let i=1; i<=6; i++) { %>
          <img
            class="demo"
            src="/images/news/2569/May/14_05(<%= i %>).jpg"
            onclick="currentSlide(<%= i %>)"
            alt="Thumb <%= i %>"
          />
          <% } %>
        </div>
        <script src="/js/assets/news-grid.js"></script>
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
