<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20260115-1'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <%- include('../../../partials/Responsive') %>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span> ขอแสดงความยินดีกับอาจารย์...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ขอแสดงความยินดีกับอาจารย์ และนักวิจัย ที่ได้รับ รางวัลการวิจัยแห่งชาติ
          : รางวัลผลงานคุณภาพ NRCT Quality Achievement Award ประจำปีงบประมาณ
          2569
        </h2>
        <p class="tag">#รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 15 ม.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/15_01_(1).jpg" alt="20260115" />
      </div>
      <div class="content-text">
        <p>
          🎉 มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี (KMUTT) 🎉
          ขอแสดงความยินดีกับอาจารย์ และนักวิจัย ที่ได้รับ รางวัลการวิจัยแห่งชาติ
          : รางวัลผลงานคุณภาพ NRCT Quality Achievement Award ประจำปีงบประมาณ
          2569 โดย สำนักงานการวิจัยแห่งชาติ (วช.) เมื่อวันที่ 8 มกราคม 2569 ณ
          ศูนย์นิทรรศการและการประชุมไบเทค บางนา 🏆✨
        </p>
        <h5>
          ⚙️ รางวัลผลงานวิจัย สาขาวิศวกรรมศาสตร์และอุตสาหกรรมวิจัย
          รับประกาศนียบัตร
        </h5>
        <p>🧡 คุณกฤษณา นามวงศ์</p>
        <p>
          🔩 ผลงาน:
          “การพัฒนาคุณภาพของเนื้อโลหะเชื่อมโดยการใช้กระบวนการเชื่อมผสมแบบใหม่สำหรับวัสดุอลูมิเนียม”
          • ดร.ฐิตินันท์ มีทอง คณะวิศวกรรมศาสตร์ 🛠️
        </p>
        <p>
          ☀️ ผลงาน: “นวัตกรรมเซลล์แสงอาทิตย์แบบยืดหยุ่น:
          การปรับสภาพผิวแบบสองมิติเพื่อประสิทธิภาพและความคงทนในเทคโนโลยีเพอรอฟสไกท์”
          • ผศ. ดร.นพพร รุจิสัมพันธ์ คณะวิทยาศาสตร์ และคณะ ⚡
        </p>
        <h5>
          🎓 รางวัลวิทยานิพนธ์ สาขาวิศวกรรมศาสตร์และอุตสาหกรรมวิจัย
          รับประกาศนียบัตร
        </h5>
        <p>
          🏃‍♂️ วิทยานิพนธ์เรื่อง:
          “การศึกษาอุปกรณ์ยืดหยุ่นอัจฉริยะและระบบการประมวลผลแบบสะสมเพื่อติดตามการเคลื่อนไหวของมนุษย์”
        </p>
        <p>• ดร.วิชชุดา ธงกิ่ง คณะวิศวกรรมศาสตร์</p>
        <p>จบการศึกษาจาก Shibaura Institute of Technology ประเทศญี่ปุ่น</p>
        <p>
          📊 วิทยานิพนธ์เรื่อง:
          “การวิจัยในการหาอันดับที่เหมาะสมของการควบคุมเชิงทำนายโดยไม่ใช้แบบจำลองทางคณิตศาสตร์”
        </p>
        <p>• ดร.จิรวิทย์ ปราถน์วิทยา คณะวิศวกรรมศาสตร์</p>
        <p>จบการศึกษาจาก Kanazawa University ประเทศญี่ปุ่น</p>
      </div>
      <div class="container-pic">
        <% for(let i=1; i<=4; i++) { %>
        <div class="grid-item">
          <img
            src="/images/news/2569/Jan/15_01_(<%= i %>).jpg"
            onclick="openModal(); currentSlide(<%= i %>)"
            alt="Image <%= i %>"
          />
        </div>
        <% } %>
      </div>

      <div id="myModal" class="modal" onclick="closeModalOnBackdrop(event)">
        <div class="modal-controls">
          <span class="zoom-icon" onclick="toggleZoom()" title="ซูมรูปภาพ">
          </span>
          <span class="reset-icon" onclick="resetZoom()" title="รีเซ็ตการซูม">
            <i class="fa-solid fa-rotate-right"></i>
          </span>
          <span class="close" onclick="closeModal()" title="ปิด">&times;</span>
        </div>

        <div class="modal-content-wrapper">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

          <div class="main-img-container">
            <img id="mainImg" src="" class="modal-main-image" />
          </div>

          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="thumbnail-bar">
          <% for(let i=1; i<=4; i++) { %>
          <img
            class="demo"
            src="/images/news/2569/Jan/15_01_(<%= i %>).jpg"
            onclick="currentSlide(<%= i %>)"
            alt="Thumb <%= i %>"
          />
          <% } %>
        </div>
      </div>
      <script src="/js/assets/news-grid.js"></script>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
