<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'Homepage'} ) %>

    <link rel="stylesheet" href="../css/Home.css" />
    <link rel="stylesheet" href="../css/assets/Responsive.css" />
  </head>
  <body>
    <!-- picture-main -->
    <div class="carousel-wrapper">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic1.png"
              class="d-block w-100"
              alt="HomepagePic1"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic2.png"
              class="d-block w-100"
              alt="HomepagePic2"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic3.png"
              class="d-block w-100"
              alt="HomepagePic3"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic4.png"
              class="d-block w-100"
              alt="HomepagePic4"
            />
          </div>
        </div>
        <div class="mainpic-gradient"></div>
      </div>
    </div>
    <script src="../js/Home"></script>
    <%- include('../partials/bootstrapend') %>
    <!-- button-main -->
    <div class="hp-button1">
      <a href="../pages/PRE.ejs">
        <button class="hp-button1-box">
          <div class="hp-button1-main">PRE</div>
          <div class="hp-button1-name">วิศวกรรมอุตสาหการ</div>
        </button>
      </a>
      <a href="">
        <button class="hp-button1-box">
          <div class="hp-button1-main">MCE</div>
          <div class="hp-button1-name">วิศวกรรมเมคคาทรอนิกส์</div>
        </button>
      </a>
      <a href="">
        <button class="hp-button1-box">
          <div class="hp-button1-main">ISEE</div>
          <div class="hp-button1-name">
            วิศวกรรมระบบอุตสาหกรรมและการประกอบการธุรกิจ
          </div>
        </button>
      </a>
      <a href="">
        <button class="hp-button1-box">
          <div class="hp-button1-main">ปริญญา โท</div>
        </button>
      </a>
      <a href="">
        <button class="hp-button1-box">
          <div class="hp-button1-main">ปริญญา เอก</div>
        </button>
      </a>
    </div>
    <!-- picture-aboutus -->
    <div class="hp-aboutus">
      <img src="../images/Homepage/Homepage-About.jpg" alt="AboutusPic" />
      <div class="hp-aboutus-box">
        <h1 class="hp-aboutus-head">เกี่ยวกับเรา</h1>
        <div class="hp-aboutus-body">
          การจัดการเรียนการสอนของภาควิชาวิศวกรรมอุตสาหการ ในทุกหลักสูตร
          ถือว่ามีคุณภาพในลำดับต้นๆ ของประเทศ ผลิตบัณฑิตประมาณ ปีละ 120 คน
          มหาบัณฑิตประมาณปีละ 80 คน ดุษฎีบัณฑิตปีละประมาณ 3-5 คน มีผลงาน
          วิจัยและวิชาการเป็นที่ยอมรับ โดยได้รับการตีพิมพ์ในวารสาร วิชาการและการ
        </div>
        <div>
          <a href="" class="aboutus-read-more"
            >อ่านเพิ่มเติม <span><i class="fa-solid fa-arrow-right"></i></span
          ></a>
        </div>
      </div>
    </div>
    <!-- ผลงาน -->
    <div class="reward-carousel">
      <div class="reward-group">
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward1.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward2.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward3.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward4.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward5.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward6.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward7.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward8.jpg" alt="rewardpic" />
        </div>
      </div>
      <div aria-hidden class="reward-group">
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward1.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward2.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward3.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward4.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward5.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward6.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward7.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          s
          <img src="../images/Homepage/Homepage-reward8.jpg" alt="rewardpic" />
        </div>
      </div>
    </div>
    <!-- ข่าวสาร -->
    <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% const chunkSize = 3; for (let i = 0; i < New_data.length; i +=
        chunkSize) { const chunk = New_data.slice(i, i + chunkSize); %>
        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
          <div class="news-multi-row">
            <% chunk.forEach(news => { %>

            <div class="new-card">
              <img src="<%= news.Img %>" class="card-img-top" />

              <div class="new-card-body">
                <h5><%= news.Title %></h5>
                <p><%= news.Description %></p>
                <hr />
                <p><%= news.Date %></p>
                <a class="btn btn-primary">อ่านเพิ่มเติม</a>
              </div>
            </div>

            <% }) %>
          </div>
        </div>

        <% } %>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#newsCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon news-arrow"></span>
      </button>

      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#newsCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon news-arrow"></span>
      </button>
      <script src="../routes/Home.js"></script>
    </div>
    <%- include('../partials/footer') -%>
  </body>
</html>
