<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'Homepage'} ) %>

    <link rel="stylesheet" href="../css/Home.css" />
    <link rel="stylesheet" href="../css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../partials/topbtn') %>
    <!-- picture-main -->
    <div class="carousel-wrapper">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic1.png"
              class="d-block w-100"
              alt="HomepagePic1"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic2.png"
              class="d-block w-100"
              alt="HomepagePic2"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic3.png"
              class="d-block w-100"
              alt="HomepagePic3"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic4.png"
              class="d-block w-100"
              alt="HomepagePic4"
            />
          </div>
        </div>
        <div class="mainpic-gradient"></div>
      </div>
    </div>
    <%- include('../partials/bootstrapend') %>
    <script src="/js/Home-mainpic.js"></script>
    <!-- button-main -->
    <div class="hp-button1">
      <a href="/pre">
        <button class="hp-button1-box">
          <div class="hp-button1-main">PRE</div>
          <div class="hp-button1-name">วศ.บ.วิศวกรรมอุตสาหกาาร</div>
        </button>
      </a>
      <a href="/mce">
        <button class="hp-button1-box">
          <div class="hp-button1-main">MCE</div>
          <div class="hp-button1-name">วศ.บ.วิศวกรรมเมคคาทรอนิกส์</div>
        </button>
      </a>
      <a href="/isee">
        <button class="hp-button1-box">
          <div class="hp-button1-main">ISEE</div>
          <div class="hp-button1-name">
            วศ.บ.วิศวกรรมระบบอุตสาหกรรม และการประกอบการธุรกิจ
          </div>
        </button>
      </a>
      <a href="/m_eng">
        <button class="hp-button1-box">
          <div class="hp-button1-main">M.ENG. ISE</div>
          <div class="hp-button1-name">
            วศ.ม.วิศวกรรมอุตสาหการ และระบบการผลิต
          </div>
        </button>
      </a>
      <a href="/ph_d">
        <button class="hp-button1-box">
          <div class="hp-button1-main">PH.D. ISE</div>
          <div class="hp-button1-name">
            ปร.ด.วิศวกรรมอุตสาหการ และระบบการผลิต
          </div>
        </button>
      </a>
    </div>
    <!-- picture-aboutus -->
    <div class="hp-aboutus">
      <img src="../images/Homepage/Homepage-About.png" alt="AboutusPic" />
      <div class="hp-aboutus-box">
        <h1 class="hp-aboutus-head">เกี่ยวกับเรา</h1>
        <div class="hp-aboutus-body">
          การจัดการเรียนการสอนของภาควิชาวิศวกรรมอุตสาหการ ในทุกหลักสูตร
          ถือว่ามีคุณภาพในลำดับต้นๆ ของประเทศ ผลิตบัณฑิตประมาณ ปีละ 120 คน
          มหาบัณฑิตประมาณปีละ 80 คน ดุษฎีบัณฑิตปีละประมาณ 3-5 คน มีผลงาน
          วิจัยและวิชาการเป็นที่ยอมรับ โดยได้รับการตีพิมพ์ในวารสาร วิชาการและการ
        </div>
        <div>
          <a href="/history_dep" class="aboutus-read-more"
            >อ่านเพิ่มเติม <span><i class="fa-solid fa-arrow-right"></i></span
          ></a>
        </div>
      </div>
    </div>
    <!-- ผลงาน -->
    <div class="reward-carousel">
      <div class="reward-track">
        <div aria-hidden class="reward-group">
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward1.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward2.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card1">
            <img
              src="../images/Homepage/Homepage-reward3.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward4.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card1">
            <img
              src="../images/Homepage/Homepage-reward5.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward6.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card1">
            <img
              src="../images/Homepage/Homepage-reward7.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward8.jpg"
              class="reward-img"
            />
          </div>
        </div>
        <div aria-hidden class="reward-group">
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward1.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward2.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card1">
            <img
              src="../images/Homepage/Homepage-reward3.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward4.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card1">
            <img
              src="../images/Homepage/Homepage-reward5.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward6.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card1">
            <img
              src="../images/Homepage/Homepage-reward7.jpg"
              class="reward-img"
            />
          </div>
          <div class="reward-card">
            <img
              src="../images/Homepage/Homepage-reward8.jpg"
              class="reward-img"
            />
          </div>
        </div>
      </div>
      <div id="imgModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImg" />
        <div id="caption"></div>
      </div>
    </div>
    <script src="../js/reward.js"></script>
    <!-- ข่าวสาร -->
    <div class="news-header">
      <h2>ข่าวสารและกิจกรรม</h2>
      <span><a href="/news">ดูทั้งหมด</a></span>
    </div>
    <div class="container-bg">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <%- include('../news/2569/02-06.ejs') %>
          </div>
          <div class="swiper-slide">
            <%- include('../news/2569/02-03.ejs') %>
          </div>
          <div class="swiper-slide">
            <%- include('../news/2569/01-30.ejs') %>
          </div>
          <div class="swiper-slide">
            <%- include('../news/2569/01-29.ejs') %>
          </div>
          <div class="swiper-slide">
            <%- include('../news/2569/01-24.ejs') %>
          </div>
          <div class="swiper-slide">
            <%- include('../news/2569/01-21.ejs') %>
          </div>
          <div class="swiper-slide">
            <%- include('../news/2569/01-15.ejs') %>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-slide-button swiper-button-prev"></div>
        <div class="swiper-slide-button swiper-button-next"></div>
      </div>
    </div>
    <%- include('../partials/swiper.ejs')%>
    <script src="../js/Home-news.js"></script>
    <%- include('../partials/footer')-%>
  </body>
</html>
