<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'Homepage'} ) %>

    <link rel="stylesheet" href="../css/Home.css" />
    <link rel="stylesheet" href="../css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../partials/topbtn') %>
    <!-- picture-main -->
    <div class="carousel-wrapper">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic1.png"
              class="d-block w-100"
              alt="HomepagePic1"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic2.png"
              class="d-block w-100"
              alt="HomepagePic2"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic3.png"
              class="d-block w-100"
              alt="HomepagePic3"
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="../images/Homepage/Homepage-mainpic4.png"
              class="d-block w-100"
              alt="HomepagePic4"
            />
          </div>
        </div>
        <div class="mainpic-gradient"></div>
      </div>
    </div>
    <%- include('../partials/bootstrapend') %>
    <script src="/js/Home-mainpic.js"></script>
    <!-- button-main -->
    <div class="hp-button1">
      <a href="/pre">
        <button class="hp-button1-box">
          <div class="hp-button1-main">PRE</div>
          <div class="hp-button1-name">วิศวกรรมอุตสาหการ</div>
        </button>
      </a>
      <a href="/mce">
        <button class="hp-button1-box">
          <div class="hp-button1-main">MCE</div>
          <div class="hp-button1-name">วิศวกรรมเมคคาทรอนิกส์</div>
        </button>
      </a>
      <a href="/isee">
        <button class="hp-button1-box">
          <div class="hp-button1-main">ISEE</div>
          <div class="hp-button1-name">
            วิศวกรรมระบบอุตสาหกรรมและการประกอบการธุรกิจ
          </div>
        </button>
      </a>
      <a href="/m_eng">
        <button class="hp-button1-box">
          <div class="hp-button1-main">ปริญญา โท</div>
        </button>
      </a>
      <a href="/ph_d">
        <button class="hp-button1-box">
          <div class="hp-button1-main">ปริญญา เอก</div>
        </button>
      </a>
    </div>
    <!-- picture-aboutus -->
    <div class="hp-aboutus">
      <img src="../images/Homepage/Homepage-About.jpg" alt="AboutusPic" />
      <div class="hp-aboutus-box">
        <h1 class="hp-aboutus-head">เกี่ยวกับเรา</h1>
        <div class="hp-aboutus-body">
          การจัดการเรียนการสอนของภาควิชาวิศวกรรมอุตสาหการ ในทุกหลักสูตร
          ถือว่ามีคุณภาพในลำดับต้นๆ ของประเทศ ผลิตบัณฑิตประมาณ ปีละ 120 คน
          มหาบัณฑิตประมาณปีละ 80 คน ดุษฎีบัณฑิตปีละประมาณ 3-5 คน มีผลงาน
          วิจัยและวิชาการเป็นที่ยอมรับ โดยได้รับการตีพิมพ์ในวารสาร วิชาการและการ
        </div>
        <div>
          <a href="" class="aboutus-read-more"
            >อ่านเพิ่มเติม <span><i class="fa-solid fa-arrow-right"></i></span
          ></a>
        </div>
      </div>
    </div>
    <!-- ผลงาน -->
    <div class="reward-carousel">
      <div class="reward-group">
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward1.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward2.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward3.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward4.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward5.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward6.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward7.jpg" alt="rewardpic" />
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward8.jpg" alt="rewardpic" />
        </div>
      </div>
      <div aria-hidden class="reward-group">
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward1.jpg" alt="rewardpic" 
          href="#" onclick="window.open('../images/Homepage/Homepage-reward1.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"/>
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward2.jpg" alt="rewardpic" 
          href="#" onclick="window.open('../images/Homepage/Homepage-reward2.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"/>
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward3.jpg" alt="rewardpic" 
          href="#" onclick="window.open('../images/Homepage/Homepage-reward3.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"/>
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward4.jpg" alt="rewardpic" 
          href="#" onclick="window.open('../images/Homepage/Homepage-reward4.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"/>
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward5.jpg" alt="rewardpic" 
          href="#" onclick="window.open('../images/Homepage/Homepage-reward5.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"/>
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward6.jpg" alt="rewardpic" 
          href="#" onclick="window.open('../images/Homepage/Homepage-reward6.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"/>
        </div>
        <div class="reward-card1">
          <img src="../images/Homepage/Homepage-reward7.jpg" alt="rewardpic" 
          href="#" onclick="window.open('../images/Homepage/Homepage-reward7.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"/>
        </div>
        <div class="reward-card">
          <img src="../images/Homepage/Homepage-reward8.jpg" alt="rewardpic" 
          href="#" onclick="window.open('../images/Homepage/Homepage-reward8.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"/>
        </div>
      </div>
    </div>
    <!-- ข่าวสาร -->
    <div class="container-bg">
      <div class="container swiper">
        <div class="card-wrapper">
          <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img
                  src="/images/Homepage/Homepage-new1.jpg"
                  alt="News1"
                  class="card-image"
                  onclick="window.open('/images/Homepage/Homepage-new1.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"
                />
                <p class="badge">รับสมัคร</p>
                <h2 class="card-title">
                  DEK69 วิศวกรรมอุตสาหการเปิดรับสมัครรอบที่ 1 ตั้งแต่ 12
                  พฤจิกายน 2568 - 6 มกราคม 2569
                </h2>
                <p class="Dates">12 พฤศจิกายน 2568</p>
                <button class="card-button material-symbols-rounded">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img
                  src="/images/Homepage/Homepage-new2.jpg"
                  alt="News1"
                  class="card-image"
                  onclick="window.open('/images/Homepage/Homepage-new2.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"
                />
                <p class="badge">ข่าวสาร</p>
                <h2 class="card-title">
                  วิศวกรรมระบบอุตสาหกรรมและการประกอบการธุรกิจ หลักสูตรใหม่ ISEE
                </h2>
                <p class="Dates">06 พฤศจิกายน 2568</p>
                <button class="card-button material-symbols-rounded">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img
                  src="/images/Homepage/Homepage-new3.jpg"
                  alt="News1"
                  class="card-image"
                  onclick="window.open('/images/Homepage/Homepage-new3.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"
                />
                <p class="badge">รับสมัคร</p>
                <h2 class="card-title">
                  เปิดรับสมัครนักศึกษาใหม่ ระดับปริญญาโท
                  สาขาวิชาวิศวกรรมอุตสาหการและระบบการผลิต หลักสูตรปรับปรุง
                  พ.ศ.2568
                </h2>
                <p class="Dates">21 ตุลาคม 2568</p>
                <button class="card-button material-symbols-rounded">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img
                  src="/images/Homepage/Homepage-new4.jpg"
                  alt="News1"
                  class="card-image"
                  onclick="window.open('/images/Homepage/Homepage-new4.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"
                />
                <p class="badge">รับสมัคร</p>
                <h2 class="card-title">
                  รับสมัครนักศึกษาปริญญาโท-เอก
                  สาขาวิชาวิศวกรรมอุตสาหการและระบบการผลิต อาจารย์ที่ปรึกษา รศ.
                  ดร.พร้อมพงษ์ ปานดี
                </h2>
                <p class="Dates">10 ตุลาคม 2568</p>
                <button class="card-button material-symbols-rounded">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img
                  src="/images/Homepage/Homepage-new5.jpg"
                  alt="News1"
                  class="card-image"
                  onclick="window.open('/images/Homepage/Homepage-new5.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"
                />
                <p class="badge">ทุนการศึกษา</p>
                <h2 class="card-title">
                  โครงการทุนเพชรพระจอมเกล้ามหาบัณฑิต เปิดรับสมัครแล้ว
                  ระดับปริญญาโท ภาคการศึกษาที่ 2/2568
                </h2>
                <p class="Dates">02 ตุลาคม 2568</p>
                <button class="card-button material-symbols-rounded">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </a>
            </li>
            <li class="card-item swiper-slide">
              <a href="#" class="card-link">
                <img
                  src="/images/Homepage/Homepage-new6.jpg"
                  alt="News1"
                  class="card-image"
                  onclick="window.open('/images/Homepage/Homepage-new6.jpg', '_blank', 'width=1200,height=800,noopener'); return false;"
                />
                <p class="badge">รับสมัคร</p>
                <h2 class="card-title">กำหนดการรับสมัคร มจธ. ปี 2569</h2>
                <p class="Dates">17 กันยายน 2568</p>
                <button class="card-button material-symbols-rounded">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </a>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <div class="swiper-slide-button swiper-button-prev"></div>
          <div class="swiper-slide-button swiper-button-next"></div>
        </div>
      </div>
    </div>
    <%- include('../partials/swiper.ejs')%>
    <script src="../js/Home-news.js"></script>
    <%- include('../partials/footer')-%>
  </body>
</html>
