<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'MCE'} ) %>

    <link rel="stylesheet" href="../css/subject.css" />
    <link rel="stylesheet" href="../css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../partials/topbtn') %>
    <!-- LEFT -->
    <div class="pre-layout">
      <aside class="pre-left">
        <div class="Breadcrumb" style="font-size: 13px">
          <a href="/">หน้าหลัก</a>
          <span><i class="fa-solid fa-chevron-right"></i></span>
          <span>MCE</span>
        </div>
        <span class="Breadcrumb-underline"></span>

        <nav class="primary-navigation">
          <p class="Anchor">ในหน้านี้</p>
          <ul>
            <li><a href="#section-1">MCE</a></li>
            <li><a href="#section-2">ชื่อหลักสูตร</a></li>
            <li><a href="#section-3">เป้าหมายการเรียนรู้</a></li>
            <li><a href="#section-4">แนวทางการเรียนรู้แต่ละชั้นปี</a></li>
            <li><a href="#section-5">PLO</a></li>
            <li><a href="#section-6">อาชีพในอนาคต</a></li>
            <li><a href="#section-7">เอกสาร</a></li>
          </ul>
        </nav>
        <script src="./js/assets/Navigation.js"></script>
      </aside>

      <!-- RIGHT -->
      <section id="section-1" class="pre-right">
        <div class="carousel-wrapper">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="5000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active hero-img">
                <img
                  src="./images/PRE/PRE-mainpic1.jpg"
                  class="d-block w-100"
                  alt="HomepagePic1"
                />
              </div>
              <div class="carousel-item hero-img">
                <img
                  src="./images/PRE/PRE-mainpic2.jpg"
                  class="d-block w-100"
                  alt="HomepagePic2"
                />
              </div>
              <div class="carousel-item hero-img">
                <img
                  src="./images/PRE/PRE-mainpic3.jpg"
                  class="d-block w-100"
                  style="object-position: bottom"
                  alt="HomepagePic3"
                />
              </div>
              <div class="carousel-item hero-img">
                <img
                  src="./images/PRE/PRE-mainpic4.jpg"
                  class="d-block w-100"
                  alt="HomepagePic4"
                />
              </div>
            </div>
          </div>
        </div>
        <%- include('../partials/bootstrapend') %>
        <script src="./js/PRE-mainpic.js"></script>
        <div class="overlay-main" style="margin-top: 1em">
          <h3>Mechatronics Engineering(MCE)</h3>
          <h3>วิศวกรรมเมคคาทรอนิกส์</h3>
          <p>
            หลักสูตรวิศวกรรมเมคคาทรอนิกส์ มุ่งพัฒนาความสามารถด้านงานผลิต
            โดยบูรณาการความรู้ด้านอุตสาหการ ไฟฟ้า และเครื่องกล เพื่อการออกแบบ
            สร้าง และควบคุมกระบวนการผลิต เครื่องจักรอัตโนมัติ
            รวมถึงการออกแบบผลิตภัณฑ์เมคคาทรอนิกส์เพื่อการใช้งานต่าง ๆ
          </p>
        </div>
      </section>
    </div>
    <!-- PRE name -->
    <div id="section-2" class="namebox" style="padding: 1em 20em">
      <span>
        <div class="name1-underline"><h4>ชื่อหลักสูตร</h4></div>
        <p>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมเมคคาทรอนิกส์</p>
        <p>Bachelor of Engineering Program in Mechatronics Engineering</p>
      </span>
      <span>
        <div class="name2-underline"><h4>ชื่อปริญญาและสาขาวิชา</h4></div>
        <h5>ชื่อเต็ม</h5>
        <p>วิศวกรรมศาสตรบัณฑิต (วิศวกรรมเมคคาทรอนิกส์)</p>
        <p>Bachelor of Engineering (Mechatronics Engineering)</p>
        <h5>ชื่อย่อ</h5>
        <p>วศ.บ. (วิศวกรรมเมคคาทรอนิกส์)</p>
        <p>B.Eng. (Mechatronics Engineering)</p>
      </span>
    </div>
    <!-- วัตถุประสงค์ -->
    <div id="section-3" class="วัตถุประสงค์">
      <img src="./images/PRE/PRE-วัตถุประสงค์.jpg" alt="วัตถุประสงค์" />

      <div class="วัตถุประสงค์-container">
        <h2>เป้าหมายการเรียนรู้</h2>
        <ul class="วัตถุประสงค์-box">
          <li>
            เพื่อผลิตบัณฑิตที่มีความรู้และทักษะในการวิเคราะห์และออกแบบระบบเมคคาทรอนิกส์
            โดย การบูรณาการองคความรู้ด้านเครื่องกล ไฟฟ้า อิเล็กทรอนิกส์
            ระบบควบคุม และการผลิต
          </li>
          <li>
            เพื่อผลิตบัณฑิตที่สามารถคิดอย่างเป็นระบบ สามารถแก้ปัญหาอุตสาหกรรมได้
            ภายใต้ จรรยาบรรณวิศวกร
          </li>
          <li>
            เพื่อผลิตบัณฑิตที่มีความรับผิดชอบ
            สามารถสื่อสารและทำงานร่วมกับผู้อื่นได้
          </li>
          <li>
            เพื่อผลิตบัณฑิตที่เรียนรู้ได้ด้วยตัวเองและเรียนรู้อย่างต่อเนื่องตลอดชีวิต
            ปรับตัวได้ในโลก วิศวกรรมที่เปลี่ยนแปลง
          </li>
        </ul>
      </div>
    </div>
    <!-- แนวทางการเรียนรู้แต่ละชั้นปี -->
    <div id="section-4" class="แนวทาง">
      <h2>แนวทางการจัดการเรียนรู้ของหลักสูตร</h2>
      <div class="ชั้นปี-box">
        <div class="Year1 year-row">
          <img
            src="./images/PRE/PRE-แนวทาง1.jpg"
            style="width: 40vh; height: 40vh"
            alt="แนวทางปี1"
          />
          <div class="year-box">
            <h3>ชั้นปีที่1</h3>
            <p>อธิบายหลักการองค์ความรู้ทางวิทยาศาสตร์และ วิศวกรรมพื้นฐานได้</p>
          </div>
        </div>
        <div class="Year2 year-row reverse">
          <img
            src="./images/PRE/PRE-แนวทาง2.jpg"
            style="width: 40vh; height: 40vh"
            alt="แนวทางปี2"
          />
          <div class="year-box">
            <h3>ชั้นปีที่2</h3>
            <p>
              วิเคราะห์วงจรอิเล็กทรอนิกส์เบื้องต้นได้ เขียน
              โปรแกรมสั่งงานอุปกรณ์พื้นฐานได้ใช้เครื่องมือ
              พื้นฐานในการผลิตชิ้นส่วนได้อย่างปลอดภัย
            </p>
          </div>
        </div>
        <div class="Year3 year-row">
          <img
            src="./images/PRE/PRE-แนวทาง3.jpg"
            style="width: 40vh; height: 40vh; justify-content: center"
            alt="แนวทางปี3"
          />
          <div class="year-box">
            <h3>ชั้นปีที่3</h3>
            <p>
              ออกแบบผลิตภัณฑ์เมคคาทรอนิกส์และระบบอัตโนมัติได้
              สื่อสารเชิงวิศวกรรมและทำงานร่วมกับผู้อื่นได้
              และปฏิบัติตามจรรยาบรรณวิชาชีพแห่งวิศวกร
            </p>
          </div>
        </div>
        <div class="Year4 year-row reverse">
          <img
            src="./images/PRE/PRE-แนวทาง4.jpg"
            style="width: 40vh; height: 40vh"
            alt="แนวทางปี4"
          />
          <div class="year-box">
            <h3>ชั้นปีที่4</h3>
            <p>
              ประยุกต์ใช้ความรู้ด้านวิศวกรรมเมคคาทรอนิกส์ใน
              การแก้ปัญหาทางวิศวกรรม ปฏิบัติงานอย่างมีความ รับผิดชอบ
              และจัดการเรียนรู้ได้ด้วยตนเอง
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- PLO -->
    <div id="section-5" class="plo-section">
      <div class="plo-head">
        <h1>ผลลัพธ์การเรียนรู้ระดับหลักสูตร</h1>
        <h3>(Program Learning Outcome: PLOs)</h3>
      </div>

      <div class="container-bg">
        <div class="container swiper">
          <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
              <%- include('../partials/PLOs/PLO-MCE/PLO1.ejs') %> <%-
              include('../partials/PLOs/PLO-MCE/PLO2.ejs') %> <%-
              include('../partials/PLOs/PLO-MCE/PLO3.ejs') %> <%-
              include('../partials/PLOs/PLO-MCE/PLO4.ejs') %> <%-
              include('../partials/PLOs/PLO-MCE/PLO5.ejs') %>
            </ul>
            <div class="swiper-pagination"></div>
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="plo-modal" class="plo-modal">
      <div class="plo-modal-overlay"></div>
      <div class="plo-modal-content">
        <button class="plo-modal-close">&times;</button>
        <div id="plo-modal-body"></div>
      </div>
    </div>
    <%- include('../partials/swiper.ejs')%>
    <script src="/js/assets/PLO.js"></script>
    <!-- อาชีพอนาคต -->
    <div id="section-6" class="work">
      <div>
        <h4>อาชีพที่สามารถประกอบได้หลังสำเร็จการศึกษา</h4>
        <div class="work-box">
          <ul>
            <li>วิศวกรเมคคาทรอลิคส์ - พัฒนาเครื่องจักรหรือติดตั้งระบบ</li>
            <li>วิศวกรระบบควบคุม - พัฒนาและดูแลระบบอัตโนมัติ</li>
            <li>วิศวกรหุนยนต์ - ออกแบบ ประยุกต์ใช้หุ่นยนต์ในอุตสาหกรรม</li>
            <li>วิศวกรออกแบบผลิตภัณฑ์ - ใช้ CAD ในการออกแบบเครื่องจักร</li>
            <li>วิศวกร AI/ML - สำหรับระบบอัตโนมัติ</li>
            <li>
              วิศวกรประจำโรงงาน - ดูแลกระบวนการผลิตที่ใช้เครื่องจักรอัตโนมัติ
            </li>
            <li>วิศวกรซ่อมบำรุง</li>
          </ul>
        </div>
      </div>
      <img src="./images/PRE/PRE-work.jpg" alt="Work-pic" />
    </div>

    <!-- เอกสารเพิ่มเติม -->
    <div id="section-7" class="papers">
      <div>
        <h4>เอกสารหลักสูตรเพิ่มเติม(2021)</h4>

        <button class="papers-box">
          <a
            href="https://drive.google.com/file/d/1vwk8BIQR7FTgwF_-1yatv5pp6tcg4zmr/view"
            target="_blank"
            >Program Pofile</a
          >
        </button>
        <button class="papers-box">
          <a
            href="https://mailkmuttacth.sharepoint.com/:b:/s/StaffPE-MCE/IQCUIgR9IKOVTIUhhgszfE4vAWkFSpyhFUG1wcFRQ2O3QOc?e=mVw4qs"
            target="_blank"
            >Program Details</a
          >
        </button>
      </div>
    </div>
    <%- include('../partials/footer')-%>
  </body>
</html>
