<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'news'} ) %>
    <link rel="stylesheet" href="/css/news.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/
      <span>ข่าวสาร</span>
    </div>
    <div class="news-layout">
      <aside id="myBtnContainer" class="filter-buttons">
        <h2>หมวดหมู่ข่าว</h2>
        <h4>ประเภท</h4>
        <div class="btn-group">
          <button class="btn active" data-filter="all">ทั้งหมด</button>
          <button class="btn" data-filter="reward">รางวัล</button>
          <button class="btn" data-filter="scholarships">ทุนการศึกษา</button>
          <button class="btn" data-filter="hiring">รับสมัคร</button>
          <button class="btn" data-filter="club">ชมรมมด</button>
          <button class="btn" data-filter="event">กิจกรรม</button>
          <button class="btn" data-filter="news">ข่าวสาร</button>
        </div>
        <h4>สาขา</h4>
        <div class="btn-group">
          <button class="btn" data-filter="pre">PRE</button
          ><button class="btn" data-filter="mce">MCE</button
          ><button class="btn" data-filter="isee">ISEE</button
          ><button class="btn" data-filter="m-eng">ปริญญาโท</button
          ><button class="btn" data-filter="ph-d">ปริญญาเอก</button>
        </div>
      </aside>
      <div class="news-container">
        <h1>ข่าวและกิจกรรม</h1>
        <div
          id="carouselExampleDark"
          class="carousel slide news"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
          <section class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <a href="/news/pos20260102-1"
                ><div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/606588331_1320640566771095_4932257439522910224_n.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>
                      พี่ ๆ จากสำนักงานทะเบียนนักศึกษา
                      พร้อมให้คำแนะนำอย่างใกล้ชิด
                    </h4>
                    <p>
                      สอบถามได้เลย ไม่ต้องเตรียมเอกสาร พี่ ๆ
                      ทะเบียนพร้อมช่วยหาทางออกไปด้วยกัน
                    </p>
                    <div class="news-tags">
                      <div class="tags">ข่าวสาร</div>
                    </div>
                  </div>
                  >
                </div></a
              >
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <a href="/news/pos20260114-2">
                <div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/615323251_1203993861948438_1289866159740459952_n.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>
                      ขอแสดงความชื่นชมในความสามารถของนักศึกษาภาควิชาวิศวกรรมอุตสาหการ
                      ที่ได้รับรางวัลอันทรงเกียรติ Allen Green Award
                    </h4>
                    <p>
                      จากงานประชุมวิชาการระดับโลก 7th World Conference on
                      Acoustic Emission ณ นครคุนหมิง ด้วยผลงานวิจัยนวัตกรรม:
                      “การออกแบบและพัฒนาระบบการเฝ้าติดตามสภาพเชิงโครงสร้างระยะยาวด้วยหลักการอะคูสติกอิมิชชั่น”
                    </p>
                    <div class="news-tags">
                      <div class="tags">รางวัล</div>
                      <div class="tags">PRE</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <a href="/news/pos20260114-1">
                <div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/615402510_1344929737679317_9087251132089283067_n.jpg"
                      class="d-block w-100"
                      alt="..."
                      style="object-position: center"
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>
                      ขอแสดงความยินดีกับ นายกันตินันท์ เศรษฐธราวงศ์ นายศุภฤกษ์
                      อมรกิจไพบูลย์ นักศึกษาชั้นปีที่ 1 สาขาวิชาเมคคาทรอนิกส์
                    </h4>
                    <p>
                      ได้รับเหรียญทองแดง ในการแข่งขันกีฬาหมากกระดาน
                      ประเภทหมากฮอส ทีมชาย
                      การแข่งขันกีฬามหาวิทยาลัยแห่งประเทศไทย ครั้งที่ 51
                      "อินทนิลเกมส์ 2026" ระหว่างวันที่ 9 - 19 มกราคม 2569 ณ
                      มหาวิทยาลัยแม่โจ้ จังหวัดเชียงใหม่
                    </p>
                    <div class="news-tags">
                      <div class="tags">รางวัล</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <a href="/news/pos20260130-1">
                <div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/622727578_1479461544181563_1548669836513862238_n.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>66 ปี ของการกลับมารวมตัวกัน “อุตเมคคา“</h4>
                    <p>
                      ยินดีต้อนรับการกลับมาเจอกันอีกครั้ง ของการพบปะรุ่นพี่
                      รุ่นน้อง เพื่อน ๆ รวมถึงอาจารย์ที่พวกเรานั้นรัก เคารพ
                      และคิดถึง มาร่วมกันคิดถึงวันเก่า ๆ ที่เลยผ่านไปด้วยกาลเวลา
                      แต่ใจยังคุ้นเคยไปพร้อม ๆ กัน กับงาน “Reunion ครั้งที่ 13”
                    </p>
                    <div class="news-tags">
                      <div class="tags">MCE</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <a href="/news/pos20260203-1">
                <div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/627353906_1483192243808493_4948665407028733414_n.jpg"
                      class="d-block w-100"
                      alt="..."
                      style="object-position: bottom"
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>
                      ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ มจธ. จัดกิจกรรม
                      "Production Engineering Co-op Day 2025"
                    </h4>
                    <p>
                      โชว์ศักยภาพนักศึกษาสหกิจศึกษา
                      เพื่อเป็นเวทีให้นักศึกษาได้นำเสนอผลงานและแลกเปลี่ยนประสบการณ์จากการปฏิบัติงานสหกิจศึกษา
                      (Cooperative Education) ในสถานประกอบการชั้นนำ
                      พร้อมส่งเสริมทักษะวิชาชีพและการแก้ไขปัญหาในอุตสาหกรรมจริง
                    </p>
                    <div class="news-tags">
                      <div class="tags">PRE</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </section>
        </div>
        <div class="card-container">
          <%- include('../news/2569/02-06.ejs') %> <%-
          include('../news/2569/02-03.ejs') %> <%-
          include('../news/2569/01-30.ejs') %> <%-
          include('../news/2569/01-29.ejs') %> <%-
          include('../news/2569/01-24.ejs') %> <%-
          include('../news/2569/01-21.ejs') %> <%-
          include('../news/2569/01-15.ejs') %> <%-
          include('../news/2569/01-14-1.ejs') %> <%-
          include('../news/2569/01-14-2.ejs') %> <%-
          include('../news/2569/01-12.ejs') %> <%-
          include('../news/2569/01-02.ejs') %>
        </div>
      </div>
    </div>
    <script src="../js/filternews.js"></script>
    <%- include('../partials/topbtn') %> <%- include('../partials/footer')-%>
  </body>
</html>
