<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'news'} ) %>
    <link rel="stylesheet" href="/css/news.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/
      <span>ข่าวสาร</span>
    </div>
    <div class="news-layout">
      <aside id="myBtnContainer" class="filter-buttons">
        <h2>หมวดหมู่ข่าว</h2>
        <h4>ประเภท</h4>
        <div class="btn-group">
          <button class="btn active" data-filter="all">ทั้งหมด</button>
          <button class="btn" data-filter="reward">รางวัล</button>
          <button class="btn" data-filter="scholarships">ทุนการศึกษา</button>
          <button class="btn" data-filter="hiring">รับสมัคร</button>
          <button class="btn" data-filter="club">ชมรมมด</button>
          <button class="btn" data-filter="event">กิจกรรม</button>
          <button class="btn" data-filter="news">ข่าวสาร</button>
        </div>
        <h4>สาขา</h4>
        <div class="btn-group">
          <button class="btn" data-filter="pre">PRE</button
          ><button class="btn" data-filter="mce">MCE</button
          ><button class="btn" data-filter="isee">ISEE</button
          ><button class="btn" data-filter="m-eng">ปริญญาโท</button
          ><button class="btn" data-filter="ph-d">ปริญญาเอก</button>
        </div>
      </aside>
      <div class="news-container">
        <h1>ข่าวและกิจกรรม</h1>
        <div
          id="carouselExampleDark"
          class="carousel slide carousel-news"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
          <section class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <a href="/news/pos20260326-2"
                ><div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/2569/Mar/26_03_02(1).jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>
                      ถามกันเข้ามาเยอะ! วันนี้แอดมินมัดรวม Q&A
                      ที่หลายคนอยากรู้เกี่ยวกับหลักสูตรมาฝากกัน 📌
                    </h4>
                    <div class="news-tags">
                      <div class="tags">รับสมัคร</div>
                      <div class="tags">ISEE</div>
                    </div>
                  </div>
                  >
                </div></a
              >
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <a href="/news/pos20260325-2">
                <div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/2569/Mar/25_03_02(1).jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>ISEE มีเรียนวิชาอะไรบ้าง?</h4>
                    <div class="news-tags">
                      <div class="tags">ISEE</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <a href="/news/pos20260323-1">
                <div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/2569/Mar/23_03.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>วิศวะอุตสาหการ (IE) ที่ ISEE มจธ. เรียนอะไรบ้าง</h4>
                    <div class="news-tags">
                      <div class="tags">รับสมัคร</div>
                      <div class="tags">ISEE</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <a href="/news/pos20260319-1">
                <div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/2569/Mar/19_03_01(1).jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>🔥 TCAS69 รอบ 2 มาแล้ว!</h4>
                    <div class="news-tags">
                      <div class="tags">รับสมัคร</div>
                      <div class="tags">ISEE</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <a
                href="https://www.dek-d.com/tcas/68150/?fbclid=IwY2xjawQrPPRleHRuA2FlbQIxMQBicmlkETFoZ0FBNkhsczNZZnBRck1Kc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHtitrleUBGXRATvAPOwEO6dpMDSgI2a30w3y4I18Z7QhMo6JuWJT7iNSTwAs_aem_ttcb-xRhGoXFV2xFcrXVRw"
                target="_blank"
              >
                <div class="carousel-flex">
                  <div class="carousel-poster">
                    <img
                      src="/images/news/2569/Mar/19_03_03.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-text">
                    <h4>Quata ทายาททางวิชาชีพและธุรกิจ</h4>
                    <div class="news-tags">
                      <div class="tags">รับสมัคร</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </section>
        </div>
        <div class="card-container">
          <%- include('../news/2569/04-14.ejs') %> <%-
          include('../news/2569/04-10-2.ejs') %> <%-
          include('../news/2569/04-10-1.ejs') %> <%-
          include('../news/2569/04-07.ejs') %> <%-
          include('../news/2569/03-30.ejs') %> <%-
          include('../news/2569/03-27.ejs') %> <%-
          include('../news/2569/03-26-2.ejs') %> <%-
          include('../news/2569/03-26-1.ejs') %> <%-
          include('../news/2569/03-25-2.ejs') %> <%-
          include('../news/2569/03-25.ejs') %> <%-
          include('../news/2569/03-23.ejs') %> <%-
          include('../news/2569/03-22.ejs') %> <%-
          include('../news/2569/03-19-3.ejs') %> <%-
          include('../news/2569/03-19-2.ejs') %> <%-
          include('../news/2569/03-19-1.ejs') %> <%-
          include('../news/2569/03-18.ejs') %> <%-
          include('../news/2569/03-17-2.ejs') %> <%-
          include('../news/2569/03-17-1.ejs') %> <%-
          include('../news/2569/03-16-3.ejs') %> <%-
          include('../news/2569/03-16-2.ejs') %> <%-
          include('../news/2569/03-16-1.ejs') %> <%-
          include('../news/2569/03-05.ejs') %> <%-
          include('../news/2569/03-04.ejs') %> <%-
          include('../news/2569/03-03.ejs') %> <%-
          include('../news/2569/02-06.ejs') %> <%-
          include('../news/2569/02-03.ejs') %> <%-
          include('../news/2569/01-30.ejs') %> <%-
          include('../news/2569/01-29.ejs') %> <%-
          include('../news/2569/01-24.ejs') %> <%-
          include('../news/2569/01-21.ejs') %> <%-
          include('../news/2569/01-15.ejs') %> <%-
          include('../news/2569/01-14-1.ejs') %> <%-
          include('../news/2569/01-14-2.ejs') %> <%-
          include('../news/2569/01-12.ejs') %> <%-
          include('../news/2569/01-02.ejs') %>
        </div>
      </div>
    </div>
    <script src="../js/filternews.js"></script>
    <%- include('../partials/footer')-%>
  </body>
</html>
