<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'PRE'} ) %>

    <link rel="stylesheet" href="../css/subject.css" />
    <link rel="stylesheet" href="../css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../partials/topbtn') %>
    <!-- LEFT -->
    <div class="pre-layout">
      <aside class="pre-left">
        <div class="navigation-tab">
          <a href="/">หน้าแรก</a>/
          <span>PRE</span>
        </div>
        <span class="Breadcrumb-underline"></span>

        <nav class="primary-navigation">
          <p class="Anchor">ในหน้านี้</p>
          <ul>
            <li><a href="#section-1">PRE</a></li>
            <li><a href="#section-2">ชื่อหลักสูตร</a></li>
            <li><a href="#section-3">เป้าหมายการเรียนรู้</a></li>
            <li><a href="#section-4">แนวทางการเรียนรู้แต่ละชั้นปี</a></li>
            <li><a href="#section-5">PLO</a></li>
            <li><a href="#section-6">อาชีพในอนาคต</a></li>
            <li><a href="#section-7">เอกสาร</a></li>
          </ul>
        </nav>
        <script src="./js/assets/Navigation.js"></script>
      </aside>

      <!-- RIGHT -->
      <section id="section-1" class="pre-right">
        <div class="carousel-wrapper">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="5000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active hero-img">
                <img
                  src="./images/PRE/PRE-mainpic1.jpg"
                  class="d-block w-100"
                  alt="HomepagePic1"
                />
              </div>
              <div class="carousel-item hero-img">
                <img
                  src="./images/PRE/PRE-mainpic2.jpg"
                  class="d-block w-100"
                  alt="HomepagePic2"
                />
              </div>
              <div class="carousel-item hero-img">
                <img
                  src="./images/PRE/PRE-mainpic3.jpg"
                  class="d-block w-100"
                  style="object-position: bottom"
                  alt="HomepagePic3"
                />
              </div>
              <div class="carousel-item hero-img">
                <img
                  src="./images/PRE/PRE-mainpic4.jpg"
                  class="d-block w-100"
                  alt="HomepagePic4"
                />
              </div>
            </div>
          </div>
        </div>
        <%- include('../partials/bootstrapend') %>
        <script src="./js/PRE-mainpic.js"></script>
        <div class="overlay-main">
          <h3>Production Engineering(PRE)</h3>
          <h3>วิศวกรรมอุสาหการ</h3>
          <p>
            หลักสูตรที่เน้นความสำคัญของทั้งกลุ่มวิชา Production Engineering,
            Industrial Engineering พร้อมด้วยความรู้ด้านการบริหาร จัดการโดยสามารถ
            วิเคราะห์ วางแผน ควบคุม ระบบการผลิต การปรับปรุง คุณภาพและ
            การบริหารองค์กร การผลิตได้อย่างมี ประสิทธิภาพและเป็นเชิงระบบ
          </p>
        </div>
      </section>
    </div>
    <!-- PRE name -->
    <div id="section-2" class="namebox">
      <span>
        <div class="name1-underline"><h4>ชื่อหลักสูตร</h4></div>
        <p>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมอุตสาหการ</p>
        <p>Bachelor of Engineering Program in Production Engineering</p>
      </span>
      <span>
        <div class="name2-underline"><h4>ชื่อปริญญาและสาขาวิชา</h4></div>
        <h5>ชื่อเต็ม</h5>
        <p>วิศวกรรมศาสตรบัณฑิต (วิศวกรรมอุตสาหการ)</p>
        <p>Bachelor of Engineering (Production Engineering)</p>
        <h5>ชื่อย่อ</h5>
        <p>วศ.บ. (วิศวกรรมอุตสาหการ)</p>
        <p>B.Eng. (Production Engineering)</p>
      </span>
    </div>
    <!-- วัตถุประสงค์ -->
    <div id="section-3" class="วัตถุประสงค์">
      <img src="./images/PRE/PRE-วัตถุประสงค์.jpg" alt="วัตถุประสงค์" />
      <div class="วัตถุประสงค์-container">
        <h2>เป้าหมายการเรียนรู้</h2>
        <ul class="วัตถุประสงค์-box">
          <li>
            ผลิตบัณฑิตที่มีความรู้และทักษะด้านระบบการผลิตและเทคโนโลยีอัจฉริยะ
            สามารถแก้ปัญหาในภาคอุตสาหกรรมได้
          </li>
          <li>
            ผลิตบัณฑิตที่มีความรู้และทักษะด้านการบริหารอุตสาหกรรม
            และประยุกต์ใช้แก้ปัญหาในภาคการผลิตหรือบริการได้
          </li>
          <li>
            ผลิตบัณฑิตที่คิดเป็นระบบ สามารถบูรณาการความรู้วิศวกรรมอุตสาหการ
            รวมถึงรองรับอุตสาหกรรม 4.0 ภายใต้จรรยาบรรณวิศวกร
          </li>
          <li>
            เพื่อผลิตบัณฑิตที่เป็นผู้มีความสามารถในการเรียนรู้ด้วยตนเองและเรียนรู้อย่างต่อเนื่องตลอดชีวิต
          </li>
          <li>
            บัณฑิตเป็นผู้มีความสามารถในการทำงานเป็นทีม
            และสื่อสารได้อย่างมีประสิทธิภาพ
          </li>
        </ul>
      </div>
    </div>
    <!-- แนวทางการเรียนรู้แต่ละชั้นปี -->
    <div id="section-4" class="แนวทาง">
      <h2>แนวทางการจัดการเรียนรู้ของหลักสูตร</h2>
      <div class="ชั้นปี-box">
        <div class="Year1 year-row">
          <img src="./images/PRE/PRE-แนวทาง1.jpg" alt="แนวทางปี1" />
          <div class="year-box">
            <h3>ชั้นปีที่1</h3>
            <p>
              นักศึกษาสามารถอธิบายหลักการองค์ความรู้ทาง
              วิทยาศาสตร์และวิศวกรรมพื้นฐาน
            </p>
          </div>
        </div>
        <div class="Year2 year-row reverse">
          <img src="./images/PRE/PRE-แนวทาง2.jpg" alt="แนวทางปี2" />
          <div class="year-box">
            <h3>ชั้นปีที่2</h3>
            <p>
              นักศึกษาสามารถอธิบายหลักการทำงานของกระบวนการ ผลิตขั้นพื้นฐาน
              สามารถระบุปัญหาและบูรณาการความรู้
              ในกลุ่มวิชาเพื่อสร้างชิ้นงานเบื้องต้นได้
            </p>
          </div>
        </div>
        <div class="Year3 year-row">
          <img src="./images/PRE/PRE-แนวทาง3.jpg" alt="แนวทางปี3" />
          <div class="year-box">
            <h3>ชั้นปีที่3</h3>
            <p>
              นักศึกษาสามารถอธิบายหลักการ วิธีการและเทคนิคทางด้าน
              บริหารอุตสาหกรรม สามารถบูรณาการความรู้ทั้งด้านระบบ
              การผลิตและการบริหารอุตสาหกรรมในการแก้ปัญหา อุตสาหกรรม
              สามารถสื่อสารและกระตุ้นทีมให้เกิด ความร่วมมือในการทำงาน
            </p>
          </div>
        </div>
        <div class="Year4 year-row reverse">
          <img src="./images/PRE/PRE-แนวทาง4.jpg" alt="แนวทางปี4" />
          <div class="year-box">
            <h3>ชั้นปีที่4</h3>
            <p>
              นักศึกษาสามารถวิเคราะห์ปัญหา
              บูรณาการความรู้ด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้อง
              เพื่อแก้ปัญหาในภาคการผลิตและบริการอย่างเป็นระบบ
              ภายใต้จรรยาบรรณวิศวกร มีทักษะการสื่อสาร การทำงานเป็นทีม
              และสามารถเรียนรู้ด้วยตนเองได้อย่างต่อเนื่องได้
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- PLO -->
    <div id="section-5" class="plo-section">
      <div class="plo-head">
        <h1>ผลลัพธ์การเรียนรู้ระดับหลักสูตร</h1>
        <h3 class="plo-underline">(Program Learning Outcome: PLOs)</h3>
      </div>

      <div class="container-bg">
        <div class="container swiper">
          <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
              <%- include('../partials/PLOs/PLO-PRE/PLO1.ejs') %> <%-
              include('../partials/PLOs/PLO-PRE/PLO2.ejs') %> <%-
              include('../partials/PLOs/PLO-PRE/PLO3.ejs') %> <%-
              include('../partials/PLOs/PLO-PRE/PLO4.ejs') %> <%-
              include('../partials/PLOs/PLO-PRE/PLO5.ejs') %>
            </ul>
            <div class="swiper-pagination"></div>
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="plo-modal" class="plo-modal">
      <div class="plo-modal-overlay"></div>
      <div class="plo-modal-content">
        <button class="plo-modal-close">&times;</button>
        <div id="plo-modal-body"></div>
      </div>
    </div>
    <%- include('../partials/swiper.ejs')%>
    <script src="/js/assets/PLO.js"></script>
    <!-- อาชีพอนาคต -->
    <div id="section-6" class="work">
      <div>
        <h4>อาชีพที่สามารถประกอบได้หลังสำเร็จการศึกษา</h4>
        <div class="work-box">
          <ul>
            <li>วิศวกรอุตสาหการในทุกองค์กร</li>
            <li>วิศวกรออกแบบวิธีการทำงานหรือการผลิต</li>
            <li>วิศวกรวางแผนและควบคุมกระบวนการผลิต</li>
            <li>วิศวกรควบคุมคุณภาพในโรงงานอุตสาหกรรม</li>
            <li>วิศวกรความปลอดภัย</li>
            <li>วิศวกรขายและ/หรือให้คำบริการด้านเทคนิค</li>
            <li>วิศวกรประเมินโครงการสินเชื่อธนาคาร</li>
          </ul>
        </div>
      </div>
      <img src="./images/PRE/PRE-work.jpg" alt="Work-pic" />
    </div>

    <!-- เอกสารเพิ่มเติม -->
    <div id="section-7" class="papers">
      <div>
        <h4>เอกสารหลักสูตรเพิ่มเติม(2569)</h4>

        <button class="papers-box">
          <a href="./pdf/Program Profile วศ.บ.อุตสาหการ.pdf" target="_blank"
            >Program Pofile</a
          >
        </button>
        <button class="papers-box">
          <a
            href="./pdf/PROGRAM DETAILS วศ.บ.อุตสาหการ 2569.pdf"
            target="_blank"
            >Program Details</a
          >
        </button>
      </div>
    </div>
    <%- include('../partials/footer')-%>
  </body>
</html>
